.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}

.header__search {
  padding: 12px 16px;
  background-color: var(--color-white-transparent);
  border-radius: var(--border-radius);
}

.header__search-form {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__search-input {
  width: 434px;
  color: var(--color-black-text);
}

.header__search-button {
  aspect-ratio: 1;
  height: 24px;
  background: url('../../../public/icons/search.svg') no-repeat center center;
}
