body {
  min-height: 100vh;

  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-variant-numeric: lining-nums;
  color: var(--color-white);

  background: url('../../public/background.jpg') no-repeat center center / cover fixed;
}

section {
  padding: 32px;
}

button {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
}

input {
  all: unset;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

main {
  flex-grow: 1;
}
