section {
  padding: 32px;
}

body {
  min-height: 100vh;
  background: url('../../public/background.webp') no-repeat center center / cover fixed;

  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-white);

  font-variant-numeric: lining-nums;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  all: unset;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}
