.header,
.footer,
section {
  padding: 32px;
}

.app-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1120px;
  margin-top: 32px;
  margin-inline: auto;
  backdrop-filter: blur(50px);
  border-radius: var(--border-radius);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  padding: 12px 16px;
  opacity: 0.4;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.header__search-form {
  display: flex;
  gap: 16px;
  align-items: center;
}

.header__search-input {
  width: 434px;
  color: var(--color-black-text);
}

.header__search-button {
  aspect-ratio: 1;
  height: 24px;
  background: url('../../public/icons/search.svg') no-repeat center center;
}

.main {
  flex-grow: 1;
}

.today {
  display: flex;
  gap: 40px;
}

.today__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;

  padding: 8px;

  & .location-date-time {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    & .location {
      font-size: 24px;
      font-weight: 700;
    }
  }

  & .temperature {
    font-size: 112px;
    font-weight: 700;
  }

  & .other {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    & .weather {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
    }

    & .weather::before {
      content: '';

      display: inline-block;

      aspect-ratio: 1;
      height: 24px;

      background: url('../../public/icons/weather/cloudy.svg') no-repeat center center;
    }
  }
}

.today__details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today__details-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.today__details-card {
  width: 158px;
  height: 196px;

  opacity: 0.4;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  font-size: 12px;
  color: var(--color-grey-text);
}

.details-card__values {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.details-card__title {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-black-text);
}

.details-card__value {
  font-size: 32px;
  color: var(--color-black-text);
}

.details-card__bar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.details-card__bar-description {
  display: flex;
  justify-content: center;
}

.details-card__bar-description span:first-child {
  flex-grow: 1;
}

.slider {
  height: 192px;
}

.footer {
  height: 84px;
}
