.app-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1120px;
  margin-top: 32px;
  margin-inline: auto;

  backdrop-filter: blur(25px);
  border-radius: var(--border-radius);
}
